{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
About Us
{% endblock %}

{% block content %}
{% load static %}
<div class="container text-center py-3">

    <h1>About Us</h1>
    <br>
    <img src="{% static 'one.jpg' %}" class="mx-auto d-block"> 
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Quam lacus suspendisse faucibus interdum. Viverra maecenas accumsan lacus vel. Vel facilisis volutpat est velit egestas dui id ornare arcu. Netus et malesuada fames ac turpis egestas. Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Gravida arcu ac tortor dignissim convallis. Porttitor lacus luctus accumsan tortor posuere ac ut consequat. Libero nunc consequat interdum varius sit amet mattis. Rutrum tellus pellentesque eu tincidunt. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. Sit amet purus gravida quis blandit turpis. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris.

Est sit amet facilisis magna etiam tempor orci eu. Egestas erat imperdiet sed euismod nisi porta lorem mollis. Vulputate sapien nec sagittis aliquam malesuada. Urna nunc id cursus metus aliquam eleifend. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Est ultricies integer quis auctor elit sed. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Amet mauris commodo quis imperdiet. Sit amet est placerat in. A cras semper auctor neque vitae tempus quam. Dictum fusce ut placerat orci.

Nisi lacus sed viverra tellus in hac habitasse. In hac habitasse platea dictumst quisque sagittis purus sit. Auctor urna nunc id cursus metus aliquam. Ac feugiat sed lectus vestibulum mattis. Aliquam ultrices sagittis orci a scelerisque purus semper eget duis. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Neque vitae tempus quam pellentesque nec nam aliquam sem. Neque aliquam vestibulum morbi blandit cursus. Et malesuada fames ac turpis egestas sed tempus urna. In fermentum posuere urna nec tincidunt praesent. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Rhoncus mattis rhoncus urna neque. Amet aliquam id diam maecenas. Lobortis mattis aliquam faucibus purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Ut etiam sit amet nisl purus in mollis. Sit amet nulla facilisi morbi tempus iaculis urna. Aliquam vestibulum morbi blandit cursus risus. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat.

Enim sed faucibus turpis in eu mi bibendum neque egestas. Porttitor eget dolor morbi non arcu risus quis varius. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Consequat mauris nunc congue nisi vitae suscipit tellus mauris a. Scelerisque varius morbi enim nunc faucibus a. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra. Tristique senectus et netus et malesuada fames ac turpis egestas. Fringilla phasellus faucibus scelerisque eleifend. Lacinia quis vel eros donec ac odio. Ornare massa eget egestas purus. Eget mauris pharetra et ultrices. Velit dignissim sodales ut eu sem integer vitae justo eget. Sapien faucibus et molestie ac feugiat sed lectus vestibulum.

Porta nibh venenatis cras sed felis. Egestas sed tempus urna et. Tortor at risus viverra adipiscing at. Nisi vitae suscipit tellus mauris a diam maecenas sed. Diam maecenas sed enim ut sem viverra aliquet eget. Proin sagittis nisl rhoncus mattis rhoncus urna neque. Faucibus et molestie ac feugiat sed lectus. Quis varius quam quisque id diam vel quam elementum pulvinar. Diam sit amet nisl suscipit adipiscing. Nisl condimentum id venenatis a condimentum vitae sapien. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Dui vivamus arcu felis bibendum. Auctor elit sed vulputate mi sit amet. Maecenas accumsan lacus vel facilisis volutpat est velit. Auctor eu augue ut lectus arcu bibendum.

</div>

{% endblock %}