{% extends "core/base.html" %}
{% block title %}
Home
{% endblock %}
{% load static %}
{%block content %}
<div class="container text-center py-3">
    <h2>DocMed</h2>
    <br>
    <img src="{% static 'one.jpg' %}" class="mx-auto d-block"> 
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Lectus proin nibh nisl condimentum id venenatis a. Ut ornare lectus sit amet est placerat in. Aliquet porttitor lacus luctus accumsan. Quam adipiscing vitae proin sagittis nisl. Lacus viverra vitae congue eu consequat ac felis donec et. Proin sed libero enim sed faucibus turpis in eu mi. Lacinia at quis risus sed vulputate odio ut. Faucibus in ornare quam viverra orci. Cras semper auctor neque vitae. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus.

Enim blandit volutpat maecenas volutpat blandit. Id diam maecenas ultricies mi eget mauris. Sit amet consectetur adipiscing elit. Ultrices eros in cursus turpis massa tincidunt dui ut. Diam maecenas sed enim ut sem viverra aliquet. Quis varius quam quisque id diam vel quam elementum. Ac tortor dignissim convallis aenean et tortor at. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Turpis in eu mi bibendum neque. Etiam sit amet nisl purus in. Ut etiam sit amet nisl purus. Natoque penatibus et magnis dis parturient montes. Sed id semper risus in hendrerit gravida rutrum quisque non. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Nibh mauris cursus mattis molestie a iaculis. Curabitur gravida arcu ac tortor dignissim. Tempus imperdiet nulla malesuada pellentesque elit eget gravida.
    
</div>
{% endblock %}